header{
   
    .logo{
        width: 25%;
        float: left;  
    }
    .color_fondo{
        background-color:$lila;
        font-family: 'Dancing Script', cursive;
        font-size: 20px;
        font-weight: bolder;
        animation: bounce; 
        animation-duration: 2s;
        
    }    
    }
main {
    .h1,h2,h3{
        text-align: center;
        margin-top: 2%;
        font-family: 'Aboreto', cursive;
        font-size: 20px;
    }
    .botones {
        padding-top: 2%;
    }
    .table{
        background-color:$lila;        
        }    
    .fin{
        font-family: 'Aboreto', cursive;
        text-align: center;
    }    
    .google{
        display: block;
        margin: auto;       
        padding-bottom: 4%;
    }
}
footer{
    .redes{   
        background-color: map-get($estilos, color_1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: auto;  
        position: relative;
        bottom: 0;
        width: 100%;            
    }
    .fin {    
        background-color: map-get($estilos, color_1);
        font-family: 'Dancing Script', cursive;
        font-size: map-get($estilos, tfuente);
        font-weight:  map-get($estilos, tfuente_1);
        text-align: center;
        position:relative;
        bottom: 0;
        width: 100%;   
        display: flex;
        flex-direction: column;
        justify-content: center;
             
    }
}