header{
    
    .logo{
        width: 25%;
        float: left;
    }
    .color_index{
        font-family: 'Dancing Script', cursive;
        font-size: map-get($estilos, tfuente);
        font-weight: map-get($estilos, tfuente_1);  
        text-align: center; 
    }
    .color_fondo{
        background-color: map-get($estilos, color_1);
        font-family: 'Dancing Script', cursive;
        font-size: 20px;
        font-weight: map-get($estilos, tfuente_1);
    }
}

main{
    .video{
        position:fixed;
        min-width: 100%;
        min-height: 100%;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: -1;
        -webkit-filter:opacity(80%)   
    }
    .descripcion{
        color: $negro;
        font-family: 'Great Vibes', cursive;
        font-size: 25px;
        font-weight: bold;
        text-align:center;    
        width: 70%;
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: aliceblue;       
        background-repeat: no-repeat;
        margin: 1em auto;
        opacity: 0.8 ;
        
       
    }
}
footer{
    .footer_index{
        background-color: map-get($estilos, color_1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: auto;
        font-family: 'Dancing Script', cursive;
        font-size: map-get($estilos, tfuente);
        font-weight:  map-get($estilos, tfuente_1);
        position: relative;
        bottom: 0;
        width: 100%; 
    }
      
     
}