.header{
    .logo{
        width: 25%;
        float: left;
    }
    .color_fondo{
        background-color:$lila;
        font-family: 'Dancing Script', cursive;
        font-size: 20px;
        font-weight: bolder; 
    }
}
main{
    .seccion{
        color:$negro ;
        font-family: 'Noto Serif', serif;      
        font-size: 20px;
        font-weight: bolder;
        text-align:center; 
        margin-top: 30px; 
               
    }
    .carouselmq{
        height: 300px;
        padding-bottom: 5%;
    }
    .carru_taller{
        display: block; 
        text-align: center;     
        margin:auto;        
        min-height: 300px;
        padding-top: 2%;
        padding-bottom: 2%;
        background-image: url(../images/nature-3195612_640-removebg-preview.png);
        background-position: left;
        background-repeat: repeat-x;
        background-size: auto;
    }
    
    
    }
    footer{
        background-color: $lila;    
        margin: auto;
        padding-top: 2px;
        font-family: 'Dancing Script', cursive;
        font-size: 20px; 
        font-weight: bolder;        
        position: fixed;
        bottom: 0;
        width: 100%;
        
    }    


    