header{
    .logo{
        width: 25%;
        float: left;  
    }
    .color_fondo{
        background-color:$lila;
        font-family: 'Dancing Script', cursive;
        font-size: 20px;
        font-weight: bolder;
        animation: bounce; 
        animation-duration: 2s;
        width: auto;
    }    
    }
main {
    .h1,h2,h3{
        text-align: center;
        margin-top: 2%;
        font-family: 'Aboreto', cursive;
        font-size: 20px;
    }
   
    .table{
        background-color:$lila;
        margin-left: -2%;
        width: 100%;
       
        }    
    .fin{
        font-family: 'Aboreto', cursive;
        text-align: center;
    }    
    .google{
        display: block;
        margin: auto;
    }
}
footer{
    width: 100%;
    background-color:$lila;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding-top: 30px;
    animation: bounce; 
    animation-duration: 2s;
.final{
    font-family: 'Dancing Script', cursive;
    font-size: 20px; 
    font-weight: bolder;    
    background-color:$lila;
    width: 100%;
}      
}