header{
    .logo{
        width: 25%;
        float: left;
    }
      
    .color_fondo{
        background-color: $lila;
        font-family: 'Dancing Script', cursive;
        font-size: 20px;
        font-weight: bolder;
    }
}
main{
    .seccion{
        color:$negro ;
        font-family: 'Noto Serif', serif;     
        font-size: 20px;
        text-align:center; 
        margin-top: 30px;        
    }
  
    .color_prod{  
        width: 50%;  
        height: 40%;    
        padding-right: 4%;
        padding-top: 5%;
        padding-bottom: 0%;
        width: 600px;
        height: 800px;
       
        
    }
    .padding{
        padding: 1em 3px 30px 5px;
        color: $negro;
        font-family: 'Aboreto', cursive;
        font-weight: bolder;
        background-color: $alice;
        text-align: center;
       
       
       
    }
   
    
}
footer{
    background-color: $lila;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding-top: 30px;
.final{
    font-family: 'Dancing Script', cursive;
    font-size: 20px; 
    font-weight: bolder;    
    background-color:$lila;
}      
}