.header{
    .logo{
        width: 25%;
        float: left;
    }
    .color_fondo{
        background-color:$lila;
        font-family: 'Dancing Script', cursive;
        font-size: 20px;
        font-weight: bolder; 
    }
}
main{
    .seccion{
        color:$negro ;
        font-family: 'Noto Serif', serif;      
        font-size: 20px;
        font-weight: bolder;
        text-align:center; 
        margin-top: 30px;         
    }
    .carouselmq{
        height: 300px;
    }
    .carru_taller{
        display: block; 
        text-align: center;     
        margin:auto;        
        min-height: 300px;
        padding-top: 5%;
        padding-bottom: 5%;
      
    }
    
    }
    .footer{
        background-color: $lila;
        flex-direction: column;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: auto;
    .final{
        font-family: 'Dancing Script', cursive;
        font-size: 20px; 
        font-weight: bolder;    
    }      
    }    


    