@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:ital,wght@1,300&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.logo{
    width: 25%;
    float: left;
}


.fuente {
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(231, 197, 224);      
}
.color_index{
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    font-weight: bolder;  
}
.descripcion{
    color:rgb(14, 11, 13) ;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    text-align: justify;    
    width: 70%;
    padding: 10%;
    background-image: url(../images/fondo5.jpg);
    background-repeat: no-repeat;
    margin: 50px auto;
    min-height: 100vh;
}
.footer {    
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
}
.final{
    font-family: 'Dancing Script', cursive;
    font-size: 20px; 
    font-weight: bolder;  
}
video {
    position:fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
    -webkit-filter:opacity(100%)    
}
.seccion {
    color:rgb(14, 11, 13) ;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    text-align: center; 
}
.padding{
    padding: 2%;
    color:rgb(14, 11, 13) ;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
}
.color_prod{
    background-image: url(../images/fondo5.jpg);
}