header .logo {
  width: 25%;
  float: left; }

header .color_index {
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
  font-weight: bolder; }

main .video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
  -webkit-filter: opacity(100%); }

main .descripcion {
  color: #0e0b0d;
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
  font-size: 20px;
  text-align: justify;
  width: 70%;
  padding: 10%;
  background-image: url(../images/fondo5.jpg);
  background-repeat: no-repeat;
  margin: 50px auto;
  min-height: 100vh; }

.footer {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto; }
  .footer .final {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    font-weight: bolder; }

header .logo {
  width: 25%;
  float: left; }

header .color_index {
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
  font-weight: bolder; }

main .seccion {
  color: #0e0b0d;
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
  font-size: 20px;
  text-align: center; }

main .color_prod {
  background-image: url(../images/fondo5.jpg); }

main .padding {
  padding: 2%;
  color: #0e0b0d;
  font-family: 'Lato', sans-serif;
  font-weight: bolder; }

footer {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto; }
  footer .final {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    font-weight: bolder; }
