@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Great+Vibes&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fredoka+One&family=Great+Vibes&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ab1oreto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap");
header .logo {
  width: 25%;
  float: left; }

header .color_index {
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
  font-weight: bolder;
  text-align: center; }

header .color_fondo {
  background-color: #e4ccde;
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
  font-weight: bolder; }

main .video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
  -webkit-filter: opacity(100%); }

main .descripcion {
  color: #0e0b0d;
  font-family: 'Great Vibes', cursive;
  font-size: 25px;
  text-align: left;
  width: 70%;
  padding: 4%;
  background-color: aliceblue;
  background-repeat: no-repeat;
  margin: 1em auto; }

.footer {
  background-color: #e4ccde;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto; }
  .footer .final {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    font-weight: bolder; }

header .logo {
  width: 25%;
  float: left; }

header .color_fondo {
  background-color: #e4ccde;
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
  font-weight: bolder; }

main .seccion {
  color: #0e0b0d;
  font-family: 'Noto Serif', serif;
  font-size: 20px;
  text-align: center;
  margin-top: 30px; }

main .color_prod {
  width: 50%;
  height: 40%;
  padding-right: 4%;
  padding-top: 5%;
  padding-bottom: 0%; }

main .padding {
  padding: 1em 3px 30px 5px;
  color: #0e0b0d;
  font-family: 'Aboreto', cursive;
  font-weight: bolder;
  background-color: aliceblue;
  text-align: center; }

footer {
  background-color: #e4ccde;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding-top: 30px; }
  footer .final {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    font-weight: bolder;
    background-color: #e4ccde; }

.header .logo {
  width: 25%;
  float: left; }

.header .color_fondo {
  background-color: #e4ccde;
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
  font-weight: bolder; }

main .seccion {
  color: #0e0b0d;
  font-family: 'Noto Serif', serif;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  margin-top: 30px; }

main .carouselmq {
  height: 300px; }

main .carru_taller {
  display: block;
  text-align: center;
  margin: auto;
  min-height: 300px;
  padding-top: 5%;
  padding-bottom: 5%; }

.footer {
  background-color: #e4ccde;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto; }
  .footer .final {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    font-weight: bolder; }

.header .logo {
  width: 25%;
  float: left; }

.header .color_fondo {
  background-color: #e4ccde;
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
  font-weight: bolder; }

main h1 {
  text-align: center;
  margin-top: 2%;
  font-family: 'Aboreto', cursive;
  font-size: 20px; }

main .colu_marcas {
  padding-top: 5%;
  padding-bottom: 5%; }

main .marc {
  background-color: #e4ccde;
  color: #0e0b0d;
  text-align: center; }

main .img_marcas {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  background-image: url(../images/fondo4.jpg); }

footer {
  width: 100%;
  background-color: #e4ccde;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto; }
  footer .final {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    font-weight: bolder;
    background-color: #e4ccde;
    width: 100%; }

header .logo {
  width: 25%;
  float: left; }

header .color_fondo {
  background-color: #e4ccde;
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
  font-weight: bolder;
  animation: bounce;
  animation-duration: 2s; }

main .h1, main h2, main h3 {
  text-align: center;
  margin-top: 2%;
  font-family: 'Aboreto', cursive;
  font-size: 20px; }

main .table {
  background-color: #e4ccde; }

main .fin {
  font-family: 'Aboreto', cursive;
  text-align: center; }

main .google {
  display: block;
  margin: auto;
  padding-bottom: 4%; }

footer {
  width: 100%;
  background-color: #e4ccde;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding-top: 30px;
  animation: bounce;
  animation-duration: 2s; }
  footer .final {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    font-weight: bolder;
    background-color: #e4ccde;
    width: 100%; }
